<div id="agent_signup">
    <div class="content">
        <img alt="Brand" src="/images/head_logo.jpg">
        <a href="#/login" class="toLogin">登录</a>
        <form class="form-horizontal" name="accountForm" ng-submit="createAccount()" novalidate>
            <div class="form-group fixWidth">
                <h3>注册代理商账号</h3>
            </div>
            <div class="form-group">
                <input type="text" name="agentName" ng-model="account.agentName" class="form-control" placeholder="代理商名称" required/>

                <span class="color_red error-tips" ng-show="accountForm.agentName.$invalid && !accountForm.agentName.$pristine">不能为空!</span>
            </div>
            <div class="form-group pr">
                <div class="select-panel">
                    <span class="select-content" ng-bind="provinceObj.mySelected.F_Name" ng-click="showSelectContainer(provinceObj)"></span>
                    <span class="select-icon" ng-click="showSelectContainer(provinceObj)"></span>
                </div>
                <div class="select-container" ng-show="provinceObj.isShowSelectContainer">
                    <div class="select-container-code">
                        <ul class="select-container-list">
                            <li ng-repeat="province in provinceObj.subList" ng-click="updateProvinceSelectItem(provinceObj,$index)">
                                <span class="record-country" ng-bind="province.F_Name"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group pr">
                <div class="select-panel">
                    <span class="select-content" ng-bind="cityObj.mySelected.F_Name" ng-click="showSelectContainer(cityObj)"></span>
                    <span class="select-icon" ng-click="showSelectContainer(cityObj)"></span>
                </div>
                <div class="select-container" ng-show="cityObj.isShowSelectContainer">
                    <div class="select-container-code">
                        <ul class="select-container-list">
                            <li ng-repeat="city in cityObj.subList" ng-click="updateCitySelectItem(cityObj,$index)">
                                <span class="record-country" ng-bind="city.F_Name"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group pr">
                <div class="select-panel">
                    <span class="select-content" ng-bind="areaObj.mySelected.F_Name" ng-click="showSelectContainer(areaObj)"></span>
                    <span class="select-icon" ng-click="showSelectContainer(areaObj)"></span>
                </div>
                <div class="select-container" ng-show="areaObj.isShowSelectContainer">
                    <div class="select-container-code">
                        <ul class="select-container-list">
                            <li ng-repeat="area in areaObj.subList" ng-click="updateAreaSelectItem(areaObj,$index)">
                                <span class="record-country" ng-bind="area.F_Name"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="adminName" ng-model="account.adminName" class="form-control" placeholder="联系人姓名" required/>

                <span class="color_red error-tips" ng-show="accountForm.adminName.$invalid && !accountForm.adminName.$pristine">不能为空!</span>
            </div>
            <div class="form-group pr">
                <div class="select-panel">
                    <span class="select-content" ng-bind="countryObj.mySelected.Text" ng-click="showSelectContainer(countryObj)"></span>
                    <span class="select-icon" ng-click="showSelectContainer(countryObj)"></span>
                </div>
                <div class="select-container" ng-show="countryObj.isShowSelectContainer">
                    <div class="select-container-code">
                        <ul class="select-container-list">
                            <li ng-repeat="country in countryObj.subList" ng-click="updateSelectItem(countryObj, $index)">
                                <span class="record-country" ng-bind="country.F_Name"></span>
                                <span class="record-code">+<span ng-bind="country.F_PhoneCode"></span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="phone" ng-model="account.phone" class="form-control" placeholder="设置销冠账号" required/>

                <span class="color_red error-tips" ng-show="accountForm.phone.$invalid && !accountForm.phone.$pristine">不能为空!</span>
            </div>
            <div class="form-group fixWidth">
                <div class="input-group authCode">
                    <input type="text" name="F_RealName" class="form-control" placeholder="输入验证码" ng-model="account.verifyCode" required/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-disabled="isInValidPhone()" ng-click="getPhoneCode()">获取验证码</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input type="password" name="adminPwd" ng-model="account.adminPwd" class="form-control" placeholder="密码设置"
                       ng-pattern="/[\da-zA-Z]{6,16}/"/>

                <span class="color_red error-tips" ng-show="accountForm.adminPwd.$invalid && !accountForm.adminPwd.$pristine">密码格式不正确！</span>
                <p class="password-tip">长度由6-16个数字，字母及组合，区分大小写</p>
            </div>
            <div class="form-group">
                <input type="password" name="adminCheckPwd" ng-model="account.adminCheckPwd" pw-check="account.adminPwd" class="form-control"
                       placeholder="确认密码"/>
                <span class="color_red error-tips" ng-show="accountForm.adminCheckPwd.$invalid&& !accountForm.adminCheckPwd.$pristine">密码不一致!</span>
            </div>
            <div class="form-group fixWidth isUserAgreement">
                <div class="col-sm-9">
                    <input type="checkbox" ng-model="account.isUserAgreement" i-check/>
                    我已同意阅读<a ng-click="openProtocolModal()">《销冠用户协议》</a>
                </div>
            </div>
            <div class="form-group actions fixWidth">
                <button class="btn btn-default btn-primary" ng-disabled="!canSave()" type="submit" value="submit">提交</button>
            </div>
        </form>
    </div>

    <script type="text/ng-template" id="protocolModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="protocolCancel()"><span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">销冠用户协议</h4>
        </div>
        <div class="modal-body">
            <h5>一、总则</h5>

            <p>销冠（包括手机客户端和网站）的所有权和运营权归杭州卡考网络科技有限公司所有。

            <p>用户在使用销冠的服务之前，应当仔细阅读本协议，并同意遵守本协议后方可成为销冠用户， 一旦用户注册成功，则用户与销冠之间自动形成协议关系，用户应当受本协议的约束。</p>

            <p>本协议的修改权归杭州卡考网络科技有限公司所有，对用户不承担通知义务。用户应当随时关注本协议的修改，并决定是否继续使用销冠提供的各项服务。</p>

            <h5>二、服务内容</h5>

            <p>销冠服务的具体内容由销冠根据实际情况提供，例如房产销冠APP、销冠经纪APP、www.tops001.com等。

            <p>除非本使用协议另有其它明确规定，增加或强化目前本服务的任何新功能，包括所推出的新产品，均受到本使用协议之规范。</p>

            <p>您了解并同意，本服务仅依其当前所呈现的状况提供，对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，销冠均不承担任何责任。</p>

            <p>销冠保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</p>

            <h5>三、遵守法律</h5>

            <p>您同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式使用您的密码和您的账号使用本服务的任何行为及其结果承担全部责任。

            <p>如您的行为违反国家法律和法规的任何规定，有可能构成犯罪的，将被追究刑事责任，并由您承担全部法律责任。</p>

            <p>如果销冠有理由认为您的任何行为，包括但不限于您的任何言论和其它行为违反或可能违反国家法律和法规的任何规定，销冠可在任何时候不经任何事先通知终止向您提供服务。</p>

            <h5>四、您的注册义务</h5>

            <p>为了能使用本服务，您同意以下事项：依本服务注册提示填写正确的手机号码和密码。</p>

            <p>若您提供任何违法、 不道德或销冠认为不适合在销冠上展示的资料；或者销冠有理由怀疑你的资料属于程序或恶意操作，销冠有权暂停或终止您的账号，并拒绝您于现在和未来使用本服务之全部或任何部分。</p>

            <p> 销冠无须对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、 正确性、完整性、适用性及是否为最新资料的责任。</p>

            <h5>五、隐私保护</h5>

            <p>销冠不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在销冠的非公开内容，但下列情况除外：</p>
            <ul>
                <li>(1) 事先获得用户的明确授权；</li>
                <li>(2) 根据有关的法律法规要求；</li>
                <li>(3) 按照相关政府主管部门的要求；</li>
                <li>(4) 该第三方同意承担与销冠同等的保护用户隐私的责任；</li>
            </ul>

            <h5>六、附则</h5>

            <p>本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。</p>

            <p>如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>

            <p>本协议解释权及修订权归杭州卡考网络科技有限公司所有。</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="protocolCancel()">关闭</button>
        </div>
    </script>
</div>