<div id="agent_signup">
    <div class="content">
        <a href="#/login" class="toLogin">登录</a>
        <form class="form-horizontal" name="accountForm" ng-submit="createAccount()" novalidate>
            <div class="form-group fixWidth">
                <h3>注册代理商账号</h3>
            </div>
            <div class="form-group">
                <input type="text" name="agentName" ng-model="account.agentName" class="form-control" placeholder="代理商名称" required/>

                <span class="color_red error-tips" ng-show="accountForm.agentName.$invalid && !accountForm.agentName.$pristine">不能为空!</span>
            </div>
            <div class="form-group pr">
                <div class="select-panel">
                    <span class="select-content" ng-bind="provinceObj.mySelected.F_Name" ng-click="showSelectContainer(provinceObj)"></span>
                    <span class="select-icon" ng-click="showSelectContainer(provinceObj)"></span>
                </div>
                <div class="select-container" ng-show="provinceObj.isShowSelectContainer">
                    <div class="select-container-code">
                        <ul class="select-container-list">
                            <li ng-repeat="province in provinceObj.subList" ng-click="updateProvinceSelectItem(provinceObj,$index)">
                                <span class="record-country" ng-bind="province.F_Name"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group pr">
                <div class="select-panel">
                    <span class="select-content" ng-bind="cityObj.mySelected.F_Name" ng-click="showSelectContainer(cityObj)"></span>
                    <span class="select-icon" ng-click="showSelectContainer(cityObj)"></span>
                </div>
                <div class="select-container" ng-show="cityObj.isShowSelectContainer">
                    <div class="select-container-code">
                        <ul class="select-container-list">
                            <li ng-repeat="city in cityObj.subList" ng-click="updateCitySelectItem(cityObj,$index)">
                                <span class="record-country" ng-bind="city.F_Name"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group pr">
                <div class="select-panel">
                    <span class="select-content" ng-bind="areaObj.mySelected.F_Name" ng-click="showSelectContainer(areaObj)"></span>
                    <span class="select-icon" ng-click="showSelectContainer(areaObj)"></span>
                </div>
                <div class="select-container" ng-show="areaObj.isShowSelectContainer">
                    <div class="select-container-code">
                        <ul class="select-container-list">
                            <li ng-repeat="area in areaObj.subList" ng-click="updateAreaSelectItem(areaObj,$index)">
                                <span class="record-country" ng-bind="area.F_Name"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="adminName" ng-model="account.adminName" class="form-control" placeholder="联系人姓名" required/>

                <span class="color_red error-tips" ng-show="accountForm.adminName.$invalid && !accountForm.adminName.$pristine">不能为空!</span>
            </div>
            <div class="form-group pr">
                <div class="select-panel">
                    <span class="select-content" ng-bind="countryObj.mySelected.Text" ng-click="showSelectContainer(countryObj)"></span>
                    <span class="select-icon" ng-click="showSelectContainer(countryObj)"></span>
                </div>
                <div class="select-container" ng-show="countryObj.isShowSelectContainer">
                    <div class="select-container-code">
                        <ul class="select-container-list">
                            <li ng-repeat="country in countryObj.subList" ng-click="updateSelectItem(countryObj, $index)">
                                <span class="record-country" ng-bind="country.F_Name"></span>
                                <span class="record-code">+<span ng-bind="country.F_PhoneCode"></span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="phone" ng-model="account.phone" class="form-control" placeholder="设置销冠账号" required/>

                <span class="color_red error-tips" ng-show="accountForm.phone.$invalid && !accountForm.phone.$pristine">不能为空!</span>
            </div>
            <div class="form-group fixWidth">
                <div class="input-group authCode">
                    <input type="text" name="F_RealName" class="form-control" placeholder="输入验证码" ng-model="account.verifyCode" required/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-disabled="isInValidPhone()" ng-click="getPhoneCode()">获取验证码</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input type="password" name="adminPwd" ng-model="account.adminPwd" class="form-control" placeholder="密码设置"
                       ng-pattern="/[\da-zA-Z]{6,16}/"/>

                <span class="color_red error-tips" ng-show="accountForm.adminPwd.$invalid && !accountForm.adminPwd.$pristine">密码格式不正确！</span>
                <p class="password-tip">长度由6-16个数字，字母及组合，区分大小写</p>
            </div>
            <div class="form-group">
                <input type="password" name="adminCheckPwd" ng-model="account.adminCheckPwd" pw-check="account.adminPwd" class="form-control"
                       placeholder="确认密码"/>
                <span class="color_red error-tips" ng-show="accountForm.adminCheckPwd.$invalid&& !accountForm.adminCheckPwd.$pristine">密码不一致!</span>
            </div>
            <div class="form-group fixWidth isUserAgreement">
                <div class="col-sm-9">
                    <input type="checkbox" ng-model="account.isUserAgreement" i-check/>
                    我已同意阅读<a ng-click="openProtocolModal()">《XXX用户协议》</a>
                </div>
            </div>
            <div class="form-group actions fixWidth">
                <button class="btn btn-default btn-primary" ng-disabled="!canSave()" type="submit" value="submit">提交</button>
            </div>
        </form>
    </div>

    <script type="text/ng-template" id="protocolModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="protocolCancel()"><span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">XXX用户协议</h4>
        </div>
        <div class="modal-body">
            <h5>一、总则</h5>

            <p>XXX的所有权和运营权归杭州XXX网络科技有限公司所有。

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="protocolCancel()">关闭</button>
        </div>
    </script>
</div>