<div>
    <h3 style="text-align: center; margin-top: 200px">
        <a class="btn btn-default btn-primary btn-lg"
           href="#/agent/buildingManager">进入主页面!</a>

        <a class="btn btn-default btn-success btn-lg" href="#/signup">
            注册页面
        </a>
    </h3>
</div>

<script>
    angular.module("myapp").controller('HomeController',function(globalParas){
        globalParas.setAdminKid("1807");
        globalParas.setAgentID("f776290a-180e-42ef-8945-c103ea6c6135");
    })
</script>