$red: #ff4301;
$blue: #4f90d0;
$green: #60b12a;
$grey: #999999;
$orange: #ff5501;
$yellow: #ff9a19;
$purple: #6571b3;
$white: #ffffff;

$grey_dark: #666666;
$blue_dark: #0074d9;

$grey_light: #cccccc;
$green_light: #79c447;
$orange_light: #fb7e00;
$yellow_light: #fea90b;




